<div class="center jumbotron">
  <h1>Welcome to Voluncheers</h1>

  <h2>
    Voluncheers is an innovative redesign and rework of how event and community organizers manage and communicate with their volunteers. 
    Come take a look!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
